.env
.DS_Store
.gitignore
FlaggingQuestionnaire.docx
30_sample_users_cleaned.csv
100_users_extended_data_cleaned.csv
100_users_extended_data_cleaned.xlsx
ACP Proposals 2024-25.pdf
ACP Report.docx 
conversion.py 
convert_llama_weights.py 
CV_JD_Parsing_Template.xlsx 
CV_JD_Parsing_with examples.xlsx 
CV_Parsing_StructureCV.csv 
CV_Parsing_StructureJD.csv 
cv_sample.jsonl 
cv.html 
cv.json 
Data Requirements.pdf 
JD_Parsing_StructureJD.csv 
JD_Parsing_StructureCV.csv 
opportunities_sample.csv 
opportunities_sample.jsonl 
Resume.csv 
run_llama.py 
training_data.csv